@import url(https://fonts.googleapis.com/css?family=Hind:300,600);

@font-face {
	font-family: 'Linearicons-Free';
	src: url('/assets/fonts/Linearicons-Free.woff?w118d') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
    box-sizing: border-box;
}

a {
    color: #19F;
}

a:hover {
    color: #0D7ACC;
}

a, a:hover {
    text-decoration: none;
}

html, body {
    font-family: 'Myriad Pro', Seravek, 'Hind', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Arial', 'Hiraigno Sans GB', 'Lantinghei SC', 'Source Han Sans SC', 'Source Han Sans', 'Noto Sans CJK SC', 'Noto Sans CJK', 'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif;
    font-size: 10px;
    letter-spacing: 0.01rem;
    padding: 0;
    margin: 0;
}

.lnr {
    font-family: 'Linearicons-Free';
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

code.no-monospace {
    font-family: 'Myriad Pro', Seravek, 'Hind', 'Segoe UI', 'Helvetica Neue', Helvetica, 'Arial', 'Hiraigno Sans GB', 'Lantinghei SC', 'Source Han Sans SC', 'Source Han Sans', 'Noto Sans CJK SC', 'Noto Sans CJK', 'Heiti SC', 'Microsoft YaHei UI', 'Microsoft YaHei', sans-serif !important;
}

/* -------------------------------------------------- */

.font-weight-light {
    font-weight: 300;
}

.opacity-zero {
    opacity: 0;
}

.empty-line {
    height: 2rem;
}

.empty-row {
    height: 8rem;
}

/* -------------------------------------------------- */

.nav-icon {
    color: #FFF;
}

.nav-icon:hover {
    color: #FFF;
}

.big-icon {
    font-size: 3rem;
}

.pad-left {
    padding-left: 0.65rem;
}

.pad-right {
    padding-right: 0.65rem;
}

/* -------------------------------------------------- */
/* Overwriting the buttons */

.btn {
    font-weight: 300;
}

.btn.bold {
    font-weight: 600;
}

.btn-pill {
    border-radius: 400px;
}

.btn-lg {
    font-size: 2.4rem;
    min-width: 20rem;
    padding: 1.5rem 5.5rem 1.2rem;
    margin: 1rem 1rem;
}

.btn-lg .lnr {
    position: relative;
    top: 2px;
}

.btn-sm {
    font-size: 1.8rem;
    min-width: 10rem;
    padding: 0.75rem 2.5rem 0.65rem;
    margin: 0.4rem 0.4rem;
}

.btn-sm .lnr {
    position: relative;
    top: 2px;
}

.btn.btn-primary {
    background: #19F;
    border: none;
}

.btn.btn-success {
    background: #0B3;
    border: none;
}
