<div class="enat-dict-entry-card-placeholder col-xs-10 col-xs-offset-1 col-sm-6 col-md-4 col-lg-4">
    <div class="enat-dict-entry-card">
        <a class="enat-dict-entry-card-anchor" href="./dict/__ID__/">
            <div class="enat-dict-entry-card-vertical-area-1" style="__STYLE__">
            </div>
            <div class="enat-dict-entry-card-vertical-area-2">
                <footer>__COUNT__</footer>
                <h4>__TITLE__</h4>
            </div>
        </a>
    </div>
</div>
